$accent-color1: #192140;
$accent-color2: #f8f9fc;
$accent-color3: #10131c;
$accent-color4: #dcf10d;
$accent-color5: #9d9db5;
$accent-color6: #ffffff;
$accent-color7: #0266ff;
$accent-color8: #c0bfcf;
$accent-color9: #d7f8ff;
