$main-font: "Inter", sans-serif;

$font-weight700: 700;
$font-weight500: 500;
$font-weight400: 400;

$title-fontSize: 20px;
$footer-fontSize: 12px;

$lineHeight: 130%;
$card-fontStyle: normal;

$letterSpacing: -0.02em;
